{% extends 'base.html' %}

{% block content %}

<style>
    small ul {
        padding: 10px 0;
        list-style: none;
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="row jsutify-content-center" style="display: flex; justify-content: center;">
        <div class="col-md-6 col-sm-12">
            <div class="card o-hidden border-0 shadow-lg mb-5 mt-3">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Change your password!</h1><hr>
                            <div class="mb-2"></div>
                        </div>
                        <form class="user" action="" method="post">
                            
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.errors %}
                                <div class="form-group">
                                    <label for="" class="form-label">{{field.label}}</label>
                                    {{field}}
                                    <small class="text-danger">{{field.errors }}</small>
                                </div>
                                {% else %}
                                    <label for="" class="form-label">{{field.label}}</label>
                                    <div class="form-group">{{field}}</div>
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Change Password
                            </button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


{% endblock content %}