{% extends 'base.html' %}


{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h5 class="m-0 font-weight-bold text-primary">Edit File</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="form-group">
                                        {{field}}
                                        <span class="text-danger">{{field.errors}}</span>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        {{field}}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn-info btn">Edit File</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}