<div style="background-color: #c2c2c2; padding: 15px;">
    <h2 style="margin: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #5865F2; color: #fff;">Reset Password</h2>
    <div style="margin: 0; padding: 15px; background-color: #fff;">
        <h2>Hi {{user.username}},</h2>
        <p>
            We received a request to reset the password for your account for this email address.
            To initiate the password reset process for your account. Please click on the link below to reset your password.
        </p>
        <p style="margin-top: 30px;">{{request.scheme}}://{{domain}}{% url 'password-reset-confirm' uidb64=uid token=token %}</p>
        <p style="margin-top: 30px;">
            This link can only be used once. If you need to reset your password again please visit {{request.scheme}}://{{domain}}
        </p>
        <p style="margin-top: 30px;">
            If you did not make this request, you can simply ignore this email
        </p>
        <p>The Lizzy Team</p>
    </div>
    <div style="text-align: center; margin-top: 20px 0;">
        <p>&copy; {% now 'Y' %} <a href="">Blog</a></p>
        <p>Follow us on <a href="">Twitter</a></p>
    </div>
</div>