<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>{{title}}</title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="theme-red">
  
  {% comment %}  Back to top button  {% endcomment %}
  <div class="btn-back_to_top">
    <span class="ti-arrow-up"></span>
  </div>


    {% comment %}  Begin Page Content  {% endcomment %}
    <div class="container-fluid" style="margin-top: 260px;">

        {% comment %}  404 Error Text  {% endcomment %}
        <div class="text-center">
            <h1 class="text-danger mx-auto" data-text="404">404</h1>
            <h2 class=" text-gray-800 mb-5">Page Not Found</h2>
            <h3 class="lead text-gray-500 mb-2">It looks like you found a glitch in the matrix...</h3>
            <a href="{% url 'home' %}">&larr; Back to Home</a>
        </div>

    </div>
  
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
 
</body>
</html>