{% load static %}
{% comment %}  Sidebar  {% endcomment %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    {% comment %}  Sidebar - Brand  {% endcomment %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-text mx-3">
            <img src="{% static 'images/front.png' %}" style="height:50px;" />

        </div>
    </a>

    {% comment %}  Nav Item - Dashboard  {% endcomment %}
    <li class="nav-item active mb-5">
        <a class="nav-link" href="{% url 'admin-dashboard' %}"></a>
    </li>

    {% comment %}  Divider  {% endcomment %}
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link text-center" href="{% url "home" %}">
            <h2 class="fas fa-fw fa-folder-open"></h2>
        </a>
    </li>
    {% comment %}  Divider  {% endcomment %}
    <hr class="sidebar-divider">

    {% comment %}  Sidebar Toggler (Sidebar)  {% endcomment %}
    <div class="text-center d-none d-md-inline mt-5">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
{% comment %}  End of Sidebar  {% endcomment %}